MedChain_AI_Groq_FINAL (3).json
{
  "name": "MedChain AI — Health Navigator (GROQ FINAL)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "node-chat-trigger",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "medchain-chat-webhook"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a compassionate medical intake assistant for MedChain AI.\n\nAsk the user these questions ONE BY ONE (do not ask all at once):\n1. What is your name and age?\n2. What are your main symptoms?\n3. How long have you had these symptoms?\n4. Do you have any existing medical conditions or allergies?\n5. What is your email address?\n6. What is your city/location?\n\nStart by greeting the user warmly and asking question 1.\n\nOnce you have ALL 6 answers, output ONLY this exact JSON (no extra text, no markdown, no explanation):\n{\n  \"name\": \"\",\n  \"age\": \"\",\n  \"symptoms\": \"\",\n  \"duration\": \"\",\n  \"existing_conditions\": \"\",\n  \"email\": \"\",\n  \"location\": \"\"\n}\n\nDo NOT output the JSON until you have all 6 answers."
        }
      },
      "id": "node-ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "node-groq-model",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [380, 500],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "fromInput",
        "sessionKey": "sessionId"
      },
      "id": "node-memory",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [540, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-data-complete",
              "leftValue": "={{ $json.output }}",
              "rightValue": "\"email\"",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-data-complete",
      "name": "All 6 Answers Collected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a medical triage expert.\n\nBased on these patient details: {{ $('AI Agent').item.json.output }}\n\nClassify the urgency as ONE of:\n- EMERGENCY (life-threatening: chest pain, difficulty breathing, stroke symptoms, unconsciousness, severe bleeding)\n- MODERATE (needs doctor within 24-48 hrs: fever above 103F, severe pain, infection signs, persistent vomiting)\n- MILD (can be managed at home: cold, minor headache, mild fever, sore throat)\n\nAlso provide:\n- 2-3 possible conditions\n- Recommended specialist type\n- Brief reasoning\n\nRespond ONLY in this JSON format with no extra text, no markdown, no backticks:\n{\n  \"urgency\": \"\",\n  \"possible_conditions\": [],\n  \"specialist_needed\": \"\",\n  \"home_remedies\": [],\n  \"reasoning\": \"\",\n  \"emergency_action\": \"\"\n}"
      },
      "id": "node-triage",
      "name": "Triage Classifier",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [940, 180]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "node-groq-triage",
      "name": "Groq Triage Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [940, 360],
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-emergency",
              "leftValue": "={{ $json.text }}",
              "rightValue": "EMERGENCY",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-emergency",
      "name": "Is Emergency?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1180, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-moderate",
              "leftValue": "={{ $json.text }}",
              "rightValue": "MODERATE",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-moderate",
      "name": "Is Moderate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1180, 420]
    },
    {
      "parameters": {
        "sendTo": "={{ JSON.parse($('AI Agent').item.json.output).email }}",
        "subject": "🚨 EMERGENCY — Immediate Medical Attention Required | MedChain AI",
        "emailType": "html",
        "message": "=<html><body style='font-family:Arial,sans-serif;max-width:600px;margin:auto;padding:20px'>\n<div style='background:#ff4444;color:white;padding:20px;border-radius:10px;text-align:center'>\n<h1>🚨 EMERGENCY ALERT</h1>\n<p>Immediate Medical Attention Required</p>\n</div>\n<div style='padding:20px;background:#fff5f5;border-radius:10px;margin-top:10px'>\n<h2>Dear {{ JSON.parse($('AI Agent').item.json.output).name }},</h2>\n<p>Based on your symptoms, you may need <strong>IMMEDIATE emergency care</strong>.</p>\n<table style='width:100%;border-collapse:collapse'>\n<tr><td style='padding:8px;background:#ffe0e0'><strong>Symptoms:</strong></td><td style='padding:8px'>{{ JSON.parse($('AI Agent').item.json.output).symptoms }}</td></tr>\n<tr><td style='padding:8px;background:#ffe0e0'><strong>Duration:</strong></td><td style='padding:8px'>{{ JSON.parse($('AI Agent').item.json.output).duration }}</td></tr>\n<tr><td style='padding:8px;background:#ffe0e0'><strong>Urgency:</strong></td><td style='padding:8px;color:red'><strong>EMERGENCY 🔴</strong></td></tr>\n</table>\n<div style='background:#ff4444;color:white;padding:15px;border-radius:8px;margin-top:15px;text-align:center'>\n<h3>📞 CALL 112 IMMEDIATELY</h3>\n<p>or go to the nearest Emergency Room</p>\n</div>\n<p style='margin-top:15px'>Stay calm. Do not drive yourself. Call for help immediately.</p>\n</div>\n<p style='color:#999;font-size:12px;text-align:center;margin-top:20px'>MedChain AI — Your Health Navigator | This is an AI-generated alert, not a medical diagnosis.</p>\n</body></html>",
        "options": {}
      },
      "id": "node-gmail-emergency",
      "name": "Gmail Emergency Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1420, 60]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://nominatim.openstreetmap.org/search?q={{ JSON.parse($('AI Agent').item.json.output).specialist_needed }}+doctor+{{ JSON.parse($('AI Agent').item.json.output).location }}&format=json&limit=3",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "node-doctor-finder",
      "name": "Doctor Finder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 420]
    },
    {
      "parameters": {
        "sendTo": "={{ JSON.parse($('AI Agent').item.json.output).email }}",
        "subject": "⚠️ Medical Advice — Doctor Visit Recommended | MedChain AI",
        "emailType": "html",
        "message": "=<html><body style='font-family:Arial,sans-serif;max-width:600px;margin:auto;padding:20px'>\n<div style='background:#ff9800;color:white;padding:20px;border-radius:10px;text-align:center'>\n<h1>⚠️ Doctor Visit Recommended</h1>\n</div>\n<div style='padding:20px;background:#fff8e1;border-radius:10px;margin-top:10px'>\n<h2>Dear {{ JSON.parse($('AI Agent').item.json.output).name }},</h2>\n<p>Based on your symptoms, we recommend visiting a doctor within <strong>24-48 hours</strong>.</p>\n<table style='width:100%;border-collapse:collapse'>\n<tr><td style='padding:8px;background:#fff0cc'><strong>Symptoms:</strong></td><td style='padding:8px'>{{ JSON.parse($('AI Agent').item.json.output).symptoms }}</td></tr>\n<tr><td style='padding:8px;background:#fff0cc'><strong>Duration:</strong></td><td style='padding:8px'>{{ JSON.parse($('AI Agent').item.json.output).duration }}</td></tr>\n<tr><td style='padding:8px;background:#fff0cc'><strong>Urgency:</strong></td><td style='padding:8px;color:orange'><strong>MODERATE 🟡</strong></td></tr>\n<tr><td style='padding:8px;background:#fff0cc'><strong>Recommended Specialist:</strong></td><td style='padding:8px'>{{ JSON.parse($('Triage Classifier').item.json.text).specialist_needed }}</td></tr>\n<tr><td style='padding:8px;background:#fff0cc'><strong>Possible Conditions:</strong></td><td style='padding:8px'>{{ JSON.parse($('Triage Classifier').item.json.text).possible_conditions.join(', ') }}</td></tr>\n</table>\n<div style='background:#ff9800;color:white;padding:15px;border-radius:8px;margin-top:15px'>\n<h3>📞 National Health Helpline: 104</h3>\n</div>\n</div>\n<p style='color:#999;font-size:12px;text-align:center;margin-top:20px'>MedChain AI — Your Health Navigator | This is an AI-generated suggestion, not a medical diagnosis.</p>\n</body></html>",
        "options": {}
      },
      "id": "node-gmail-moderate",
      "name": "Gmail Moderate Advice",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1660, 420]
    },
    {
      "parameters": {
        "sendTo": "={{ JSON.parse($('AI Agent').item.json.output).email }}",
        "subject": "✅ Home Care Tips — Mild Symptoms | MedChain AI",
        "emailType": "html",
        "message": "=<html><body style='font-family:Arial,sans-serif;max-width:600px;margin:auto;padding:20px'>\n<div style='background:#4caf50;color:white;padding:20px;border-radius:10px;text-align:center'>\n<h1>✅ Home Care Recommended</h1>\n</div>\n<div style='padding:20px;background:#f1f8e9;border-radius:10px;margin-top:10px'>\n<h2>Dear {{ JSON.parse($('AI Agent').item.json.output).name }},</h2>\n<p>Your symptoms appear mild and can likely be managed at home.</p>\n<table style='width:100%;border-collapse:collapse'>\n<tr><td style='padding:8px;background:#dcedc8'><strong>Symptoms:</strong></td><td style='padding:8px'>{{ JSON.parse($('AI Agent').item.json.output).symptoms }}</td></tr>\n<tr><td style='padding:8px;background:#dcedc8'><strong>Duration:</strong></td><td style='padding:8px'>{{ JSON.parse($('AI Agent').item.json.output).duration }}</td></tr>\n<tr><td style='padding:8px;background:#dcedc8'><strong>Urgency:</strong></td><td style='padding:8px;color:green'><strong>MILD 🟢</strong></td></tr>\n<tr><td style='padding:8px;background:#dcedc8'><strong>Home Remedies:</strong></td><td style='padding:8px'>{{ JSON.parse($('Triage Classifier').item.json.text).home_remedies.join(', ') }}</td></tr>\n</table>\n<p style='margin-top:15px'>Rest well, stay hydrated, and monitor your symptoms. If they worsen, please consult a doctor.</p>\n</div>\n<p style='color:#999;font-size:12px;text-align:center;margin-top:20px'>MedChain AI — Your Health Navigator | This is an AI-generated suggestion, not a medical diagnosis.</p>\n</body></html>",
        "options": {}
      },
      "id": "node-gmail-mild",
      "name": "Gmail Mild Advice",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1420, 660]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Name": "={{ JSON.parse($('AI Agent').item.json.output).name }}",
            "Age": "={{ JSON.parse($('AI Agent').item.json.output).age }}",
            "Symptoms": "={{ JSON.parse($('AI Agent').item.json.output).symptoms }}",
            "Duration": "={{ JSON.parse($('AI Agent').item.json.output).duration }}",
            "Location": "={{ JSON.parse($('AI Agent').item.json.output).location }}",
            "Email": "={{ JSON.parse($('AI Agent').item.json.output).email }}",
            "Urgency": "={{ JSON.parse($('Triage Classifier').item.json.text).urgency }}",
            "Possible_Conditions": "={{ JSON.parse($('Triage Classifier').item.json.text).possible_conditions.join(', ') }}",
            "Specialist_Needed": "={{ JSON.parse($('Triage Classifier').item.json.text).specialist_needed }}"
          }
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Google Sheets Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1900, 420]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "All 6 Answers Collected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "All 6 Answers Collected?": {
      "main": [
        [
          {
            "node": "Triage Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Triage Model": {
      "ai_languageModel": [
        [
          {
            "node": "Triage Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Triage Classifier": {
      "main": [
        [
          {
            "node": "Is Emergency?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Moderate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Emergency?": {
      "main": [
        [
          {
            "node": "Gmail Emergency Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Moderate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Moderate?": {
      "main": [
        [
          {
            "node": "Doctor Finder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Mild Advice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doctor Finder": {
      "main": [
        [
          {
            "node": "Gmail Moderate Advice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Emergency Alert": {
      "main": [
        [
          {
            "node": "Google Sheets Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Moderate Advice": {
      "main": [
        [
          {
            "node": "Google Sheets Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Mild Advice": {
      "main": [
        [
          {
            "node": "Google Sheets Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "medchain-ai"
  },
  "tags": []
}
